body {
    background-color: blanchedalmond;
}

* {
    font-family: "Comic Sans", sans-serif
}

p,
li {
    color: darkcyan;
}

img {
    height: auto;
    width: 600px
}



#title,
#links {
    text-align: center;
}